.item {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  will-change: transform, opacity;
}

.container {
  position: relative;
  vertical-align: top;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  text-align: left;
}
