@import "scss/theme/default";

$button-border: $border-radius-size;
$button-padding: 8px 16px;
$button-light-background-color: white;
$button-dark-background-color: #121213;

.button {
  display: inline-block;
  border: 0;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  border-radius: $button-border;
  padding: $button-padding;
  line-height: 16px;
  color: #121213;
  font-size: 16px;
  margin: 0;
  @include mboxshadow(1);

  // theme
  &.light {
    background-color: $button-light-background-color;
  }
  &.dark {
    background-color: $button-dark-background-color;
  }
  &.primary {
    background-color: $primary-color;
    color: white;
  }
  &.secondary {
    background-color: $secondary-color;
    color: white;
  }

  // border style
  &.rounded {
    border-radius: 100px;
  }

  &.href {
    text-align: center;
  }

  &.href,
  &.href:link,
  &.href:visited,
  &.href:hover,
  &.href:active {
    text-decoration: none;
    color: #121213;
  }

  &:not(.disabled) {
    cursor: pointer;
    &:hover {
      @include mboxshadow(2);
      &.primary {
        background-color: lighten($primary-color, 10);
        color: white;
      }
      &.secondary {
        background-color: lighten($secondary-color, 10);
        color: white;
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.25;
  }
}
