@import "scss/theme/default";

.list {
  margin-top: $box-gap-size * 2;
  display: block;
  position: relative;
  width: 100%;
  max-width: 250px;
  .item {
    width: 100%;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.icon:global(.eva) {
  vertical-align: middle;
}

.text {
  position: relative;
  margin-left: $box-gap-size;
  top: -2px;
  vertical-align: middle;
}
