@import "scss/theme/default";

.header {
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  display: flex;
  height: $header-height;
  min-height: $header-height;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: $header-gap - 8px;
  line-height: 0;
}

.logo-image {
  height: 60px;
}

.menu {
  display: inline-flex;
  margin-right: $header-gap;
}

.menu-open-button {
  display: none;
  margin-right: $header-gap;
  :global(.eva) {
    vertical-align: middle;
  }
}

@include respond(phone) {
  .menu-open-button {
    padding: 8px 10px;
    z-index: 1002;
    display: initial;
    &.open {
      background: $error-color;
      :global(.eva) {
        color: white;
      }
    }
  }
  .menu {
    margin-right: 0;
    @include mboxshadow(0);
    transition: all 0.3s $material-accelerate-bezier;
    opacity: 0;
    transform: translate3d(100%, 0px, 0px);
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1001;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 300px;
    height: 100%;
    &.open {
      opacity: 1;
      transform: translate3d(0px, 0px, 0px);
      @include mboxshadow(4);
    }
  }
}
