@import "scss/theme/default";

.header {
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  display: flex;
  //padding: 40px;
  height: $header-height;
  min-height: $header-height;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: $header-gap - 8px;
  line-height: 0;
}

.logo-image {
  height: 60px;
}

.menu {
  display: inline-flex;
  margin-right: $header-gap;
}

.menu-open-button {
  display: none;
  margin-right: $header-gap;
  :global(.eva) {
    vertical-align: middle;
  }
}

@include respond(phone) {
  .header {
    //height: $header-mobile-height;
    //min-height: $header-mobile-height;
  }
  .logo {
    //margin-left: $header-gap / 2;
  }
  .logo-image {
    //height: 30px;
  }
  .menu-open-button {
    //margin-right: $header-gap / 2;
  }
  .menu-open-button {
    display: initial;
  }
  .menu {
    display: none;
  }
}
