@import "scss/theme/default";

$nav-bottom-size: 2px;

.nav {
  line-height: $nav-height;
  height: $nav-height;
}

.list {
  padding: 0;
  margin: 0 $box-gap-size * 2 0 0;
  a {
    text-decoration: none;
    line-height: $nav-height / 2;
    height: $nav-height / 2;
    display: inline-block;
    padding: 0 $box-gap-size;
    margin: 0 $box-gap-size * 2;
    transition: all 0.3s $material-standard-bezier;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    cursor: pointer;
    color: $gray-600;
    border-bottom: $nav-bottom-size solid transparent;
    box-sizing: border-box;
    &:hover {
      color: $primary-color;
      border-bottom: $nav-bottom-size solid $primary-color;
    }
    &.active {
      color: $secondary-color;
      border-bottom: $nav-bottom-size solid $secondary-color;
    }
  }
}

@include respond(phone) {
  .nav {
    line-height: initial;
    height: auto;
    margin: $nav-height * 2 0 0 0;
  }
  .list {
    margin: 0;
    a {
      line-height: $nav-height / 1.5;
      height: $nav-height / 1.5;
      display: block;
      text-align: right;
      width: 100%;
      margin: 0;
      padding: 0 $box-gap-size * 8 0 0;
      font-size: 24px;
      border-right: $nav-bottom-size solid transparent;
      border-bottom: initial;
      box-sizing: border-box;
      &:hover {
        color: $primary-color;
        border-right: $nav-bottom-size solid $primary-color;
        border-bottom: initial;
      }
      &.active {
        color: $secondary-color;
        border-right: $nav-bottom-size solid $secondary-color;
        border-bottom: initial;
      }
    }
  }
}
