@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");
@import "scss/theme/default";

html,
body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: $page-background-color;
}

// System Fonts as used by GitHub
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

::selection {
  background: lighten($secondary-color, 40);
}
